@model WorkWAPP.Models.Category
@{
    ViewBag.Title = "Źmianić";
}

<h1>@ViewBag.Title</h1>


<form asp-action="edit" method="post" asp-controller="category">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Nazva</label>
        <input type="text" asp-for="Name" value="@Model.Name" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Adpravić" class="btn btn-default" />
    </div>
</form>