@model IEnumerable<WorkWAPP.Models.Category>
@{
    ViewBag.Title = "Категории";
}

<h1>@ViewBag.Title</h1>
<a asp-action="Create">Добавить</a>
<table border="1">
    <tr>
        <td>Название</td>
    </tr>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Name</td>
            <td><a href="~/Category/Delete/@category.Id">Удалить</a></td>
            <td><a href="~/Category/Edit/@category.Id">Изменить</a></td>

        </tr>
    }

</table>

